In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle
import os
%matplotlib inline

In [67]:
dataset=pd.read_csv('../Data/Churn_Modelling.csv')
# dataset.head()
# dataset.info()

"""
#   Column           Non-Null Count  Dtype  
---  ------           --------------  -----  
 0   RowNumber        10000 non-null  int64  
 1   CustomerId       10000 non-null  int64  
 2   Surname          10000 non-null  object 
 3   CreditScore      10000 non-null  int64  
 4   Geography        10000 non-null  object 
 5   Gender           10000 non-null  object 
 6   Age              10000 non-null  int64  
 7   Tenure           10000 non-null  int64  
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64  
 10  HasCrCard        10000 non-null  int64  
 11  IsActiveMember   10000 non-null  int64  
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64 
"""

'\n#   Column           Non-Null Count  Dtype  \n---  ------           --------------  -----  \n 0   RowNumber        10000 non-null  int64  \n 1   CustomerId       10000 non-null  int64  \n 2   Surname          10000 non-null  object \n 3   CreditScore      10000 non-null  int64  \n 4   Geography        10000 non-null  object \n 5   Gender           10000 non-null  object \n 6   Age              10000 non-null  int64  \n 7   Tenure           10000 non-null  int64  \n 8   Balance          10000 non-null  float64\n 9   NumOfProducts    10000 non-null  int64  \n 10  HasCrCard        10000 non-null  int64  \n 11  IsActiveMember   10000 non-null  int64  \n 12  EstimatedSalary  10000 non-null  float64\n 13  Exited           10000 non-null  int64 \n'

In [68]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# preprocssing the data

In [69]:
# drop irrelevent data
dataset = dataset.drop(columns=['RowNumber','CustomerId','Surname'], axis=1)
dataset

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [70]:
# encoding data
# OneHotEncoder() is typically used for nominal (categorical) data where there is no inherent order among the categories, such as color ('red', 'green', 'blue') or gender ('male', 'female'). It converts these categories into a binary matrix representation.

#### Rember this part

dataset['Geography'].unique()
gender_encoder = LabelEncoder()
geo_oh_encoder = OneHotEncoder(sparse_output=False)
dataset['Gender'] = gender_encoder.fit_transform(dataset['Gender'])
encoded_data = geo_oh_encoder.fit_transform(dataset['Geography'].values.reshape(-1, 1))
geo_oh_encoder.get_feature_names_out(['Geography'])
geography_encoded_df = pd.DataFrame(encoded_data, columns=oh.get_feature_names_out(['Geography']))

In [71]:
#### Rember this part

# combines all oh colums and originals data
dataset = pd.concat([dataset.drop(['Geography'], axis=1), geography_encoded_df], axis=1)
dataset

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

# Save this pickle file for later use

In [72]:
# Save the gender encoder and scale
with open('../pickle_files/gender_label_encoder.pkl', 'wb') as file:
    pickle.dump(gender_encoder, file)
    
# Save the geography encoder and scale
with open('../pickle_files/geography_oh_label_encoder.pkl', 'wb') as file:
    pickle.dump(geo_oh_encoder, file)

In [87]:
# for tesing purpose
# Load the gender encoder
# with open('../pickle_files/geography_oh_label_encoder.pkl', 'rb') as file:
#     gender_encoder = pickle.load(file)

# # Transform the input
# input_gender = [['France']]
# encoded_gender = gender_encoder.transform(input_gender)

# print(f"Encoded value for {input_gender[0]}: {encoded_gender[0]}")

# Splitting the data

In [92]:
### Dependent and Independent features selection
X = dataset.drop(columns=['Exited'], axis=1)
y = dataset['Exited']

### Split the dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.2, 
    random_state=42
)

# Scales the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [98]:
# save this scaler file as pickle
with open('../pickle_files/standscaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

# Train ANNs Model

In [ ]:

# Imports all necessary modules
import tensorflow
import tensorflow as tf
from tensorflow.keras.models import Sequential    # For sequential models
from tensorflow.keras.layers import Dense         # For nurons or nodes
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard  # TB for display info of some graphs
import datetime

In [122]:
# here we initialize and build our models
# TODO 1: create a sequential model
# TODO 2: Add layer
# TODO 3: model summary
# TODO 4: compile the model
# TODO 5: set tensorboard
# TODO 6: set early stopping
# TODO 7: train the model

from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import BinaryCrossentropy

opt = Adam(learning_rate = 0.01)
loss = BinaryCrossentropy()

# initialize model
model = Sequential([
    Dense(64, activation='relu', input_shape= (X_train.shape[1],)),  # first hidden layer abd connected with input
    Dense(32, activation='relu'),  # second hidden layer
    Dense(1, activation='sigmoid'),  # output layer (1) for binary output
])

# model.summary()
model.compile(optimizer=opt, loss=loss, metrics=['accuracy'])

e:\End to End ML Project\venv\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [123]:
### setup the tensorboard
from tensorflow.keras.callbacks  import TensorBoard, EarlyStopping  #TB Visualize all out logs
log_dir="logd/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(
    log_dir=log_dir, 
    histogram_freq=1
)

In [132]:
### Setup earlystoping (after some epochs if loss is not decrease the stop it or earlystopping)
early_stopping_callback = EarlyStopping(
    monitor='val_loss', 
    patience=30,
    restore_best_weights=True,
) # At least 5 epochs and monitor val_loss

In [133]:
### Here we train the model

history = model.fit(
    X_train, 
    y_train, 
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8633 - loss: 0.3359 - val_accuracy: 0.8585 - val_loss: 0.3504
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8656 - loss: 0.3279 - val_accuracy: 0.8590 - val_loss: 0.3465
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8695 - loss: 0.3126 - val_accuracy: 0.8550 - val_loss: 0.3572
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8757 - loss: 0.3098 - val_accuracy: 0.8520 - val_loss: 0.3532
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8729 - loss: 0.3096 - val_accuracy: 0.8590 - val_loss: 0.3536
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8791 - loss: 0.3044 - val_accuracy: 0.8480 - val_loss: 0.3742
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8730 - loss: 0.3037 - val_accuracy: 0.8505 - val_loss: 0.3686
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8755 - loss: 0.3044 - val_accuracy: 0.8525 - val_loss: 0.3740
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8768 - loss: 0.3047 - val_accuracy: 0.8520 - val_loss: 0.3644
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8712 - loss: 0.3124 - val_accuracy: 0.8535 - val_loss: 0.3682
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8697 - loss: 0.3147 - val_accuracy: 0.8505 - val_loss: 0.3695
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8756 - loss: 0.2921 - val_accuracy: 0.8475 - val_loss: 0.3675
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8760 - loss: 0.2966 - val_accuracy: 0.8505 - val_loss: 0.3673
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8768 - loss: 0.2993 - val_accuracy: 0.8395 - val_loss: 0.3764
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8780 - loss: 0.2950 - val_accuracy: 0.8425 - val_loss: 0.4050
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8771 - loss: 0.2874 - val_accuracy: 0.8465 - val_loss: 0.3785
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8843 - loss: 0.2828 - val_accuracy: 0.8460 - val_loss: 0.3951
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8824 - loss: 0.2863 - val_accuracy: 0.8475 - val_loss: 0.3969
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8823 - loss: 0.2794 - val_accuracy: 0.8445 - val_loss: 0.3939
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8846 - loss: 0.2798 - val_accuracy: 0.8440 - val_loss: 0.3971
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8832 - loss: 0.2795 - val_accuracy: 0.8460 - val_loss: 0.4143
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8816 - loss: 0.2800 - val_accuracy: 0.8460 - val_loss: 0.4070
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8886 - loss: 0.2724 - val_accuracy: 0.8500 - val_loss: 0.4163
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8932 - loss: 0.2612 - val_accuracy: 0.8370 - val_loss: 0.4242
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8832 - loss: 0.2817 - val_accuracy: 0.8380 - val_loss: 0.4202
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8921 - loss: 0.2725 - val_accuracy: 0.8405 - val_loss: 0.4377
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8838 - loss: 0.2760 - val_accuracy: 0.8385 - val_loss: 0.4194
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8826 - loss: 0.2739 - val_accuracy: 0.8450 - val_loss: 0.4267
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8920 - loss: 0.2620 - val_accuracy: 0.8345 - val_loss: 0.4339
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8865 - loss: 0.2651 - val_accuracy: 0.8380 - val_loss: 0.4526
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8881 - loss: 0.2587 - val_accuracy: 0.8425 - val_loss: 0.4178
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8959 - loss: 0.2604 - val_accuracy: 0.8340 - val_loss: 0.4660

In [134]:
# save this model
model.save('../pickle_files/model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.